.app-button {
    font-family: inherit;
    color: black;
    background-color: #a8d139;
    padding: 9px;
    border: 4px solid green;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.app-button-with-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.app-button-with-icon span {
    flex-grow: 1;
}

.app-button-with-icon > img {
    width: 30px;
    height: 30px;
}

.app-button-with-icon.small-icon > img {
    width: 20px !important;
    height: 20px !important;
}

.app-button-greyed {
    border: 4px solid grey !important;
    background-color: lightgrey !important;
}

.app-button:hover,
.app-button:focus {
    transition: 100ms;
    box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.2);
}

.app-button-group {
    margin: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.app-select {
    font-family: inherit;
    color: darkgreen;
    background-color: #f0f8e0; /* Soft greenish background */
    padding: 10px;
    border: 2px solid green;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    display: inline-block;
    transition: 100ms;
}

.app-select option {
    font-family: sans-serif;
}

.app-text-input {
    font-family: inherit;
    border: 3px solid green;
    border-radius: 4px;
}
.app-text-input:focus {
    outline: 1px solid white;
    box-shadow: 0 2px 8px rgba(0, 128, 0, 0.6);
}

.bold {
    font-weight: bold;
}
