body {
    margin: 0;

    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

game-grid {
    width: 60vw;
    height: 100%;
}

#emote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#emote-container h1 {
    margin-bottom: 20px;
}

#emote-template {
    display: none;
}
.emote-item {
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.dialogue-container {
    max-width: 300px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 15px 15px 0 15px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.emote {
    font-size: 48px;
    text-align: center;
}

.emote-number {
    background-color: white;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    width: 3ex;
    height: 3ex;
    line-height: 3ex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-hud {
    --this-width: 700px;
    width: var(--this-width);
    height: 110px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: calc(50% - (var(--this-width) / 2));
    border-radius: 0 0 30px 30px;
    border: 6px solid green;
    border-top-width: 0;
    background-color: #a8d139;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.opponent-name {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.game-hud .opponent-icon {
    aspect-ratio: 1;
    width: auto;
    height: 4ex;
}

.game-hud.visible {
    display: flex;
    animation-name: hud-appear;
    animation-duration: 500ms;
}

.blur-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.blur-overlay > p.title {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.blur-overlay > p.subtitle {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.blur-overlay-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.blur-overlay-buttons > button {
    font-size: 25px;
}

#loading-screen {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#loading-screen.visible {
    display: flex;
}

#loading-screen span {
    text-shadow:
        2px 0 #000,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px #000,
        -1px -1px #000,
        1px -1px #000,
        -1px 1px #000;
    color: white;
    font-size: 25px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid green;
    border-bottom: 16px solid green;
    border-radius: 50%;
    aspect-ratio: 1;
    width: auto;
    height: 80px;
    animation: spin 2s linear infinite;
}

.animated-emote {
    animation-name: slide-in;
    animation-timing-function: ease-in-out;
    animation-duration: 600ms;
}
.disappearing-emote {
    animation-name: fade-out;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

rounds-bar {
    position: absolute;
    bottom: 40px;
}

@keyframes hud-appear {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(500px);
    }
    70% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
