:root {
    --slides-duration: 500ms;
    --blur-amount: 10px;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;

    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
}

.container {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) auto minmax(100px, 1fr);
    gap: 10px;

    align-items: center;
    justify-items: center;

    width: 100dvw;
    height: 100dvh;
}

.controls-container {
    transform: translateX(-300px);
}
.controls-container.visible {
    visibility: visible;

    animation-name: controls-appear;
    animation-duration: var(--slides-duration);
    animation-fill-mode: forwards;
}

.mouse-controls {
    background-color: green;
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.mouse-controls div {
    background-color: white;
    border-radius: 40%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouse-controls img {
    width: 90%;
    height: auto;
    aspect-ratio: 1;
}

.real-donkey-container {
    transform: translateX(300px);
}
.real-donkey-container.visible {
    visibility: visible;

    animation-name: emotes-appear;
    animation-duration: var(--slides-duration);
    animation-fill-mode: forwards;
}

.real-donkey {
    display: flex;
    justify-content: center;
    align-items: center;
}
.real-donkey img {
    max-width: 200px;
    border-radius: 10px;
}

game-grid {
    width: 60vw;
    height: 100%;
}

#emote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transform: translateX(300px);
}
#emote-container.visible {
    visibility: visible;

    animation-name: emotes-appear;
    animation-duration: var(--slides-duration);
    animation-fill-mode: forwards;
}
#emote-container h1 {
    margin: 0;
}

#left-keyboard-controls {
    visibility: hidden;
}
#left-keyboard-controls.visible {
    visibility: visible;

    animation-name: controls-appear;
    animation-duration: var(--slides-duration);
    animation-fill-mode: forwards;
}

#right-keyboard-controls {
    visibility: hidden;
}
#right-keyboard-controls.visible {
    visibility: visible;

    animation-name: emotes-appear;
    animation-duration: var(--slides-duration);
}

#emote-template {
    display: none;
}
.emote-item {
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.dialogue-container {
    max-width: 300px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 15px 15px 0 15px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    aspect-ratio: 1;
}
.emote {
    font-size: 2.4rem;
    text-align: center;
}

.emote-number {
    background-color: white;
    border: 2px solid #333;
    font-size: 1rem;
    text-align: center;
    width: 3ex;
    height: 3ex;
    line-height: 3ex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-hud {
    --this-width: 700px;
    width: var(--this-width);
    height: 110px;
    position: absolute;
    z-index: 10;
    top: 0;
    border-radius: 0 0 30px 30px;
    border: 6px solid green;
    border-top-width: 0;
    background-color: #a8d139;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    transform: translateY(-300px);
}
.opponent-name {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}
.game-hud .opponent-icon {
    aspect-ratio: 1;
    width: auto;
    height: 4ex;
}

.game-hud.visible {
    display: flex;
    animation-name: hud-appear;
    animation-duration: var(--slides-duration);
    animation-fill-mode: forwards;
}

rounds-bar {
    transform: translateY(300px);
}

rounds-bar.visible {
    display: flex;
    animation-name: rounds-bar-appear;
    animation-duration: var(--slides-duration);
    animation-fill-mode: forwards;
}

#joystick {
    position: fixed;
    bottom: 5vw;
    left: 5vw;
    z-index: 70;
}

.blur-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--blur-amount));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.blur-overlay > p.title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.blur-overlay > p.subtitle {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.blur-overlay #matchmaking-hint {
    width: 55%;
    text-align: center;
}

.blur-overlay-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.blur-overlay-buttons > button {
    font-size: 1.25rem;
}

#loading-screen {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    backdrop-filter: blur(var(--blur-amount));
}
#loading-screen.visible {
    display: flex;
}

#loading-screen span {
    color: black;
    font-size: 1.25rem;
}

.loader {
    border: 16px solid rgba(0, 0, 0, 0);
    border-top: 16px solid green;
    border-bottom: 16px solid green;
    border-radius: 50%;
    aspect-ratio: 1;
    width: auto;
    height: 80px;
    animation: spin 2s linear infinite;
}

.animated-emote {
    animation-name: slide-in;
    animation-timing-function: ease-in-out;
    animation-duration: 600ms;
}
.disappearing-emote {
    animation-name: fade-out;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

rounds-bar {
    position: absolute;
    bottom: 40px;
}

#elo-evolution-container {
    display: none;
    flex-direction: row;
    gap: 10px;
    font-size: 1.25rem;
}
#elo-evolution-container.visible {
    display: flex;
}

#elo-diff {
    font-weight: bold;
}
#elo-diff.win {
    color: green;
}
#elo-diff.lose {
    color: #bf3434;
}

#cancel-matchmaking {
    position: fixed;
    bottom: 50px;
    z-index: 100;
    font-size: 1.25rem;
}

@keyframes hud-appear {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes rounds-bar-appear {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes controls-appear {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes emotes-appear {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(500px);
    }
    70% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1000px) {
    .game-hud {
        --this-width: 500px;
        height: 40px;
        border: 4px solid green;
        border-top-width: 0;
    }

    rounds-bar {
        bottom: 8px;
    }

    h1 {
        font-size: 20px;
    }

    .real-donkey img {
        max-width: 100px;
    }

    .mouse-controls {
        max-width: 100px;
        max-height: 100px;
    }

    .opponent-name {
        font-size: 1.5rem;
    }

    .game-hud .opponent-icon {
        height: 2.8ex;
    }

    #cancel-matchmaking {
        bottom: 20px;
    }

    .blur-overlay {
        gap: 20px;
    }

    #emote-container {
        gap: 10px;
    }

    .emote-item {
        gap: 20px;
    }

    .dialogue-container {
        max-width: 25px;
        padding: 10px;
    }

    .emote {
        font-size: 1.4rem;
    }

    .emote-number {
        display: none;
    }
}
