/* This is to disable scrolling so that sneaky users don't see what is hidden in page overflow */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.menu-button {
    width: 170px;
    background-color: #ff96fd;
    border-radius: 100px;
    box-shadow:
        rgba(173, 24, 171, 0.2) 0 -25px 18px -14px inset,
        rgba(173, 24, 171, 0.15) 0 1px 2px,
        rgba(173, 24, 171, 0.15) 0 2px 4px,
        rgba(173, 24, 171, 0.15) 0 4px 8px,
        rgba(173, 24, 171, 0.15) 0 8px 16px,
        rgba(173, 24, 171, 0.15) 0 16px 32px;
    color: #731171;
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.menu-button:hover {
    /* tkt même pas */
    box-shadow:
        rgba(173, 24, 171, 0.35) 0 -25px 18px -14px inset,
        rgba(173, 24, 171, 0.25) 0 1px 2px,
        rgba(173, 24, 171, 0.25) 0 2px 4px,
        rgba(173, 24, 171, 0.25) 0 4px 8px,
        rgba(173, 24, 171, 0.25) 0 8px 16px,
        rgba(173, 24, 171, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#account-button {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-button:hover {
    cursor: pointer;
}

#account-button > svg {
    width: 90%;
    height: 90%;
}

svg .svg-shit {
    fill: none;
    stroke: #020202;
    stroke-miterlimit: 10;
    stroke-width: 1.91px;
}
