/* This is to disable scrolling so that sneaky users don't see what is hidden in page overflow */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    background-image: url("../assets/background-with-donkeys.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
}

#main-title {
    text-transform: uppercase;
    font-size: 40px;
}

.big-button {
    width: 200px;
    height: 100px;
    font-size: 35px;
}

#game-mode-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#game-mode-layout > label {
    margin: 0 4px;
}

.select:hover {
    background-color: #e0f0d0;
    box-shadow: 2px 2px 6px rgba(0, 128, 0, 0.3);
}

.select:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 128, 0, 0.8);
}

#play-btn {
    animation-name: emphasize;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#account-button {
    position: absolute;
    max-width: 120px;
    border: 3px solid black;
    right: 0;
    bottom: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    font-size: 30px;
    transition: 100ms;
    cursor: pointer;
}

#account-button:hover {
    box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.2);
}

#account-button > svg {
    width: 100%;
    height: 100%;
}

svg .svg-shit {
    fill: none;
    stroke: #020202;
    stroke-miterlimit: 10;
    stroke-width: 1.91px;
}

#online-count {
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px;
    font-size: 20px;
}

#leaderboard {
    position: fixed;
    bottom: 0;
    right: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leaderboard h3 {
    margin-top: 0;
}

#leaderboard-items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-shadow: 2px 2px 5px #000000;
    color: white;

    background-image: url("/assets/wooden-stick.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding-bottom: 60px;
}

.leaderboard-item {
    display: flex;
    background-image: url("/assets/wooden-plank.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 3px 20px;
    justify-content: space-between;
    gap: 10px;
}

@keyframes emphasize {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
